@tailwind base;
@tailwind components;
@tailwind utilities;

/* .active {
  color: #1e738e;
}

.editorjsdiv h2 {
  font-weight: 600;
  font-size: 18px;
}

.editorjsdiv h3,
h4,
h5 {
  font-weight: 500;
  font-size: 10px;
}

.editorjsdiv li {
  margin-bottom: 10px;
  list-style-type: disc;
  padding-left: 10px;
  margin-left: 25px;
} */

/* penghilang arrow */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
